.container {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contentBox {
  max-width: 1180px;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.titleSub {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 839px;
  height: 60px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 2.92%,
    rgba(255, 255, 255, 0.086) 23.4%,
    rgba(255, 255, 255, 0) 90.3%
  );
  margin-top: 40px;
  margin-bottom: 100px;
}
.titleSubContent {
  display: flex;
  align-items: center;
  gap: 120px;
  background: linear-gradient(90.19deg, #ff4dcd 3.38%, #4976ec 74.22%);
  background-clip: text;
  color: transparent;
  font-style: normal;
  font-weight: 1000;
  font-size: 25px;
}
.LaserContentBox {
  display: flex;
  width: 1180px;
  height: 240px;
  background: url(../assets/laser.svg) no-repeat;
  background-size: 100% 100%;
  align-items: center;
  justify-content: center;
}
.laserContent {
  font-weight: 1000;
  line-height: 2;
  margin-left: 38px;
  max-width: 831px;
}

.LaserContentTitle {
  color: #000000;
  font-size: 36px;
  margin-bottom: 7px;
}
.LaserContentText {
  color: #000000;

  font-size: 15px;
}
