.container {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.contentBox {
  max-width: 1180px;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.titleSub {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 839px;
  height: 60px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 2.92%,
    rgba(255, 255, 255, 0.086) 23.4%,
    rgba(255, 255, 255, 0) 90.3%
  );
  margin-top: 40px;
  margin-bottom: 70px;
}
.titleSubContent {
  display: flex;
  align-items: center;
  gap: 120px;
  background: linear-gradient(90.19deg, #ff4dcd 3.38%, #4976ec 74.22%);
  background-clip: text;
  color: transparent;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}
.LaserContentBox {
  display: flex;
  width: 1180px;
  height: 240px;
  background: url(../assets/laser.svg) no-repeat;
  background-size: 100% 100%;
  align-items: center;
  justify-content: center;
}
.laserContent {
  font-weight: bold;
  line-height: 2;
  margin-left: 38px;
  max-width: 831px;
}

.LaserContentTitle {
  color: #000000;
  font-size: 36px;
  margin-bottom: 7px;
}
.LaserContentText {
  color: #000000;
  font-size: 15px;
  font-weight: normal;
}

.ast {
  position: absolute;
  left: 60%;
  animation: float 8s ease-in-out infinite alternate;
}
@keyframes float {
  0% {
    transform: translateY(-20%);
  }
  50% {
    transform: translateY(-15%);
  }
  100% {
    transform: translateY(-20%);
  }
}

@media screen and (max-width: 1024px) {
  .contentBox {
    width: 100%;
    align-items: center;
  }
  .titleSub {
    width: 100%;
  }
  .LaserContentBox {
    width: 100%;
    height: auto;
  }
  .titleSubContent {
    gap: 80px;
  }
}
@media screen and (max-width: 768px) {
  .title {
    max-width: 90%;
  }
}
@media screen and (max-width: 540px) {
  .container {
    height: unset;
    padding: 16px;
  }
  .titleSub {
    margin-top: 32px;
    margin-bottom: 40px;
  }
  .titleSubContent {
    font-size: 16px;
    gap: 40px;
  }
}

@media screen and (max-width: 414px) {
  .titleSubContent {
    font-size: 14px;
    gap: 20px;
  }
}
@media screen and (max-width: 375px) {
  .titleSubContent {
    font-size: 12px;
    gap: 12px;
  }
}
