.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px 0;
}
.inner {
  opacity: 0.9;
  border-radius: 18px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .inner {
    width: 100%;
    padding: 0 40px;
  }
}
@media screen and (max-width: 768px) {
  .inner {
    max-height: 400px;
  }
}
@media screen and (max-width: 540px) {
  .inner {
    max-height: 330px;
  }
}
@media screen and (max-width: 414px) {
  .container {
    margin: 50px 0;
  }
  .inner {
    max-height: 250px;
    padding: 0 20px;
  }
}
@media screen and (max-width: 360px) {
  .inner {
    max-height: 200px;
  }
}
