.container{
    position: sticky;
    top: 0px;
    padding: 0 24px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{

}
.rightBox{

}
.menu{

}