.container {
  width: 100%;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  padding: 0 24px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.containerFloat {
  background: linear-gradient(
    90deg,
    rgba(16, 2, 33, 0.5) 0%,
    rgba(21, 38, 86, 0.5) 53.1%,
    rgba(11, 3, 36, 0.5) 100%,
    rgba(22, 3, 46, 0) 100%
  );
  backdrop-filter: blur(4px);
}
.logo {
  width: 66px;
  height: 72px;
}
.rightBox {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.menu {
  display: flex;
  gap: 100px;
}
.menuItem {
  cursor: pointer;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 1000;
  font-size: 16px;
}
.menuItem:hover {
  font-size: 18px;
  background: radial-gradient(
    64.79% 343.64% at 35.21% 164.52%,
    #72fff9 0%,
    #faffda 23.44%,
    #9dd9fb 37.81%,
    #a0faea 46.14%,
    #9aa6ff 54.47%,
    #b4d7e6 63.54%,
    #fccdb9 75.52%,
    #cff4ff 84.9%,
    #faffed 92.19%,
    #40d1ff 100%
  );
  background-clip: text;
  color: transparent;
}
.lang {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 206px;
  gap: 8px;
}
